@*
    Hier werden alle Menüpunkte (Pages), durch die Route in das Navigationsmenüs eingebunden. 
    Jede Page hat eine eigene Route, die in der jeweiligen Razor Page (ganz oben) definiert wird. Dadurch kann im Navmenu darauf verwiesen werden.
*@

<div class="top-row pl-3 navbar navbar-dark">
    <a class="navbar-brand" href="">Impfanmeldung/Strukturen</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="impfanmeldung">
                <span class="oi oi-pencil" aria-hidden="true"></span> Impfanmeldung
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="personenuebersicht">
                <span class="oi oi-list" aria-hidden="true"></span> Personenuebersicht
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="schema">
                <span class="oi oi-list" aria-hidden="true"></span> Schema
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
